.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a:hover {
    text-decoration: underline!important;
}

.spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}

.btn-period-nav {
    color: #636c72;
    background-color: #ffffff;
    border-color: #aab0b5;
}

.btn-period-nav:active {
    background-color: #f4f5f5;
    border-color: #818a93;
}

.btn-period-nav:hover {
    color: #292b2c;
    background-color: #f4f5f5;
    border-color: #818a93;
}

.btn-period-nav:focus {
    box-shadow: none;
}

.btn-period-nav:disabled {
    background-color: #e0e1e2;
    border-color: #a0a6ac;
    cursor: default;
}

#tcNavbar {
    background: #072664;
}