.unselectable {
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer */
    -khtml-user-select: none;
    /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none;
    /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none;
    /* Disable Android and iOS callouts*/
}

.tc-button {
    background: #f5f5f5;
    color: #444;
    border: 1px solid #9a9a9a;
    border-radius: 2px;
    font-family: inherit;
    font-size: 12px;
    min-width: 22px;
    min-height: 22px;
    padding: 2px 8px;
    cursor: pointer;
}

.tc-button:focus {
    outline: 0;
}

.tc-button:disabled {
    background: #e2e2e2;
    color: #b8b8b8;
    cursor: inherit;
}

.tc-button:enabled:hover {
    transition: background 0.1s ease-out;
    background: white;
    color: black;
    fill: black;
    border: 1px solid #5c5c5c;
    z-index: 5;
}

.tc-button:enabled:active {
    background: #eaeaea;
    border: 1px solid black;
}

body {
    background: white;
    color: #444;
    border: 0;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 14px;
    vertical-align: baseline;
    min-width: 720px;
    margin: 0;
    padding: 0;
}

#header-container {
    background: #1b5689;
    width: 100%;
}

#header {
    display: flex;
    align-items: center;
    color: white;
    width: 90%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
}

#logo {}

#login {
    color: white;
    margin-left: auto;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

#login:hover {
    text-decoration: underline;
}

#templates-container {
    background: #eaeaea;
    border-bottom: #b8b8b8 solid 1px;
    width: 100%;
}

#templates {
    display: flex;
    align-items: center;
    color: #444;
    width: 90%;
    height: 46px;
    max-width: 1200px;
    margin: 0 auto;
}

#templ-select-container {}

#templ-select {
    border: 1px solid #9a9a9a;
    border-radius: 2px;
    width: 150px;
    height: 22px;
    margin-left: 10px;
    cursor: pointer;
}

#templ-select:focus {
    border: 1px solid #0c78d6;
    outline: 0;
}

#templ-new {
    margin-left: 5px;
}

#templ-edit-container {}

#templ-textinput {
    border: 1px solid #9a9a9a;
    border-radius: 2px;
    outline: 0;
    width: 140px;
    height: 18px;
    padding: 1px 4px;
    margin-left: 10px;
}

#templ-textinput:focus {
    border: 1px solid #0c78d6;
    outline: 0;
}

#templ-save {
    margin-left: 5px;
}

#templ-delete {
    margin-left: 5px;
}

#templ-cancel {
    margin-left: 5px;
}

#db-status {
    color: #9a9a9a;
    margin-left: auto;
}

#database-save {
    margin-left: auto;
}

#tc-nav-container {
    background: white;
    width: 100%;
}

#tc-nav {
    display: flex;
    align-items: center;
    width: 90%;
    height: 46px;
    max-width: 1200px;
    margin: 0 auto;
    line-height: 40px;
}

#tc-nav-today {
    width: 80px;
    height: 28px;
    font-weight: bold;
}

#tc-nav-prev {
    background-image: url(../img/nav_left.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    width: 40px;
    height: 28px;
    margin-left: 10px;
    margin-right: -1px;
    font-weight: bold;
}

#tc-nav-prev:enabled:hover {
    background-image: url(../img/nav_left_black.svg);
}

#tc-nav-next {
    background-image: url(../img/nav_right.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    width: 40px;
    height: 28px;
    font-weight: bold;
}

#tc-nav-next:enabled:hover {
    background-image: url(../img/nav_right_black.svg);
}

#tc-nav-range {
    margin-left: 20px;
}

#tc-nav-total {
    margin-left: auto;
    font-weight: bold;
}

.tc-day-table {
    width: 90%;
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    border-spacing: 0;
}

.tc-day {
    display: inline-block;
    background: white;
    width: 20%;
    min-width: 90px;
    max-width: 140px;
    border: 1px solid #444;
    border-radius: 1px;
    //outline: 0 solid #1b5689;
    margin: 10px;
    padding: 5px 0 0 0;
    /* box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.5); */
}

.tc-hour-table {
    width: 100%;
    font-size: 12px;
    margin: 5px 0 0 0;
    border-top: 1px solid #444;
    border-spacing: 0px;
}

.tc-slot {
    //transition: background 100ms ease-out;
    background: #eaeaea;
    border-bottom: 1px solid #444;
    height: 24px;
    padding: 0;
    cursor: cell;
}

.tc-slot:hover {
    //transition: none;
    background: white;
    color: black;
}

.tc-slot-locked {
    //transition: background 100ms ease-out;
    background: #f5f5f5;
    color: #b8b8b8;
    border-bottom: 1px solid #444;
    height: 24px;
    padding: 0;
    cursor: default;
}

.tc-slot-selected {
    //transition: background 100ms ease-out;
    background: #0cc980;
    color: white;
    border-bottom: 1px solid #444;
    height: 24px;
    margin: 0;
    padding: 0;
    cursor: cell;
}

.tc-slot-selected:hover {
    //transition: none;
    background: #5bdeac;
}

.tc-slot-selected-locked {
    //transition: background 100ms ease-out;
    background: #5bdeac;
    color: #f5f5f5;
    border-bottom: 1px solid #444;
    height: 24px;
    margin: 0;
    padding: 0;
    cursor: default;
}

#footer {
    background-color: #eaeaea;
    text-align: center;
    font-size: 12px;
    margin: 10px 0 0 0;
    padding: 5px 0;
}