dl {
    margin: 20px 0;
}

dt {
    margin: 0 0 5px 0;
}

dt.title {
    font-size: 16px;
    border-bottom: 1px solid #e3e8eb;
    margin-top: 10px;
    padding: 5px 0;
}

dd {
    margin: 0;
}

.form-group label {
    font-weight: 600;
    font-size: 14px;
}

.form-group input {
    width: 400px;
}