.tc-day-table {
    display: table;
    table-layout: fixed;
    text-align: center;
    border-collapse: separate;
    border-spacing: 20px 0;
    width: 100%;
}

.tc-day {
    display: table-cell;
    background: white;
    border: 1px solid #444;
    border-bottom: 0;
    margin: 0 10px;
    padding: 5px 0 0 0;
}

.tc-hour-table {
    width: 100%;
    font-size: 12px;
    margin: 5px 0 0 0;
    border: 0;
    border-top: 1px solid #444;
    border-spacing: 0px;
}

.tc-slot {
    //transition: background 100ms ease-out;
    background: #eaeaea;
    border: 0;
    border-bottom: 1px solid #444;
    height: 24px;
    padding: 0;
    cursor: cell;
}

.tc-slot:hover {
    //transition: none;
    background: white;
    color: black;
}

.tc-slot-locked {
    //transition: background 100ms ease-out;
    background: #f5f5f5;
    color: #b8b8b8;
    border: 0;
    border-bottom: 1px solid #444;
    height: 24px;
    padding: 0;
    cursor: default;
}

.tc-slot-selected {
    //transition: background 100ms ease-out;
    background: #0cc980;
    color: white;
    border: 0;
    border-bottom: 1px solid #444;
    height: 24px;
    margin: 0;
    padding: 0;
    cursor: cell;
}

.tc-slot-selected:hover {
    //transition: none;
    background: #5bdeac;
}

.tc-slot-selected-locked {
    //transition: background 100ms ease-out;
    background: #5bdeac;
    color: #f5f5f5;
    border: 0;
    border-bottom: 1px solid #444;
    height: 24px;
    margin: 0;
    padding: 0;
    cursor: default;
}

#templ-select-form {
    display: inherit;
    align-items: inherit;
}

#templ-edit-form {
    display: inherit;
    align-items: inherit;
}