.dots-button-1 {
    background: none;
    background-image: url(/static/img/dots_button_2.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    border: 0;
    width: 100%;
    height: 10px;
    padding: 0
}

.dots-button-1:enabled:hover {
    transition: all 100ms ease-out;
    background: none;
    background-image: url(/static/img/dots_button_3.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    border: 0;
}

.dots-button-1:disabled {
    background: none;
    background-image: url(/static/img/dots_button_1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    border: 0;
}

.dots-button-2 {
    background: none;
    background-image: url(/static/img/dots_button_1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    border: 0;
    width: 100%;
    height: 10px;
    padding: 0;
}

.dots-button-2:enabled:hover {
    background: none;
    background-image: url(/static/img/dots_button_2.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    border: 0;
}

.drop-menu {
    text-align: left;
    position: absolute;
    //float: left;
    background: white;
    width: 120px;
    padding: 5px;
}

.ts-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.ts-table thead tr {
    text-align: left;
    background: #f8f9fb; //white;
    color: #333;
    height: 40px;
    border-bottom: 1px solid #e3e8eb;
    border-top: 1px solid #e3e8eb;
}

.ts-table thead th {
    font-weight: 400;
    margin: 0;
    padding: 10px 5px;
}

.ts-table thead th:first-child {
    padding-left: 10px;
}

.ts-table thead th:last-child {
    padding-right: 10px;
}

.ts-table thead th:nth-child(4) {
    border-right: 1px solid #e3e8eb;
}

.ts-table tbody tr:nth-child(even) {
    //background: #fafcfb;
}

.ts-table tbody tr {
    height: 40px;
    background: white;
    color: #666;
    border-bottom: 1px solid #efefef;
}

.ts-table tbody td {
    padding: 5px;
}

.ts-table tbody td:first-child {
    padding-left: 10px;
}

.ts-table tbody td:last-child {
    padding-right: 10px;
}

.ts-table tbody td:nth-child(4) {
    border-right: 1px solid #efefef;
}


/*.ts-table tbody tr:last-child td {
    border-bottom: none;
}*/

.ts-table tbody tr:hover {
    background: #fcfdff;
    cursor: default;
}

.ts-link {
    font-weight: 700;
    color: #4562af;
}

#user-new-form,
#user-edit-form {
    display: inherit;
    align-items: inherit;
}

#period-range {
    font-size: 16px;
    font-weight: 700;
    color: #666;
}

#table-status {
    font-size: 16px;
    color: #959a9e;
}


/*

.icon-edit {
    display: inline-block;
    background-image: url(/static/img/edit.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px;
    width: 12px;
    height: 12px;
    margin-right: 4px;
    cursor: pointer;
}

.icon-edit:hover {
    background-image: url(/static/img/edit_black.svg);
}*/