.tc-table {
    width: 100%;
    border-collapse: collapse;
}

.tc-table thead tr {
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    background: #f8f9fb;
    color: #273a61;
    height: 50px;
}

.tc-table thead th {
    border: 1px solid #959a9e;
    //padding: 10px 5px;
}

.tc-table thead th:first-child {
    background: white;
    border: none;
}

.tc-table tbody tr {
    text-align: right;
    background: white;
    color: #666;
}


/*.tc-table tbody tr:nth-child(odd) {
    border-bottom: 1px solid #e3e8eb;
}*/

.tc-table tbody td {
    height: 576px;
    background: white;
    border: 1px solid #959a9e;
    border-bottom: none;
    padding: 0;
}

.tc-table tbody td:first-child {
    border: none;
}

div.slotstack {
    display: flex;
    flex-direction: column;
    height: 100%;
}

div.hourmark {
    flex-grow: 2;
    vertical-align: top;
    color: #3b5ca0;
    padding: 0 5px;
}

div.slot,
div.slot-locked,
div.slot-selected,
div.slot-selected-locked {
    position: relative;
    flex-grow: 1;
    border-bottom: 1px solid #d8d9db;
    cursor: cell;
}

div.slot:nth-child(even) {
    border-bottom: 1px solid #959a9e;
}

div.slot:hover {
    background: rgba(116, 116, 116, 0.1);
    //outline: 1px solid blue;
}

div.slot-locked {
    background: rgba(116, 116, 116, 0.1);
    cursor: inherit;
}


/*.tc-table tbody tr:nth-child(odd) {
    border: 1px solid black; //#c2c6c7;
}*/

div.slot-selected {
    background: #678fd4; //#30c99a;
    color: white;
    border-bottom: 1px solid #678fd4;
    cursor: cell;
    /*outline: 1px solid #3b5ca0;*/
}

div.slot-selected:hover {
    background: #779ad8;
}

div.blocklabel {
    z-index: 4;
    position: absolute;
    text-align: center;
    font-size: 12px;
    width: 100%;
    padding: 5px 0;
    pointer-events: none;
}