.ts-nav {
    display: flex;
    background: white; //#f5f5f5;
    color: #444;
    border-bottom: 1px solid #eaeaea;
    padding: 10px;
}

.ts-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.ts-table thead tr {
    text-align: left;
    background: white;
    color: #838ba2;
    background: #f0f2f5;
    height: 40px;
    border-bottom: 2px solid #c4c9d4;
    //box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.5);
}

.ts-table thead th {
    margin: 0;
    padding: 10px 5px;
}

.ts-table thead th:first-child {
    padding-left: 10px;
}

.ts-table thead th:last-child {
    padding-right: 10px;
}

.ts-table tbody tr:nth-child(odd) {
    //background: #f5f5f5;
}

.ts-table tbody tr {
    height: 40px;
    background: #f0f2f5;
    border-bottom: 1px solid #c4c9d4;
}

.ts-table tbody td {
    color: #444;
    //border-bottom: 1px solid #c4c9d4;
    padding: 5px;
}

.ts-table tbody td:first-child {
    padding-left: 10px;
}

.ts-table tbody td:last-child {
    padding-right: 10px;
}


/*.ts-table tbody tr:last-child td {
    border-bottom: none;
}*/

.ts-table tbody tr:hover {
    background: #e2e5eb;//#f6f8fa;
    cursor: default;
}

.ts-link {
    font-weight: bold;
    color: #4562af;
}

#user-new-form,
#user-edit-form {
    display: inherit;
    align-items: inherit;
}

*/
/*#user-new-form,
#user-edit-form {
    display: inherit;
    align-items: inherit;
}

.icon-edit {
    display: inline-block;
    background-image: url(/static/img/edit.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px;
    width: 12px;
    height: 12px;
    margin-right: 4px;
    cursor: pointer;
}

.icon-edit:hover {
    background-image: url(/static/img/edit_black.svg);
}

.ts-table {
    text-align: left;
    line-height: 40px;
    border-collapse: separate;
    border-spacing: 0;
    //border: 1px solid #9babc6;
    width: 100%;
    margin: 0;
    //border-radius: 3px;
    //box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.ts-table caption {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    background: #8195b9;
    color: white;
    padding-left: 15px;
}

.ts-table thead tr:first-child {
    //background: #8195b9;
    //color: white; //#51607d;
    border: none;
}*/


/*th:first-child,
td:first-child {
    padding: 0 15px 0 20px;
}

.ts-table th {
    font-weight: 100;
    //border-bottom: 1px solid #9babc6;
}

.ts-table th:first-child {
    //border-top-left-radius: 2px;
    padding-left: 15px;
}

.ts-table th:last-child {
    //border-top-right-radius: 2px;
}

.ts-table td:first-child {
    border-left: 1px solid #eaeaea;
    padding-left: 15px;
}

.ts-table td:last-child {
    border-right: 1px solid #eaeaea;
    padding-right: 15px;
}

.ts-table tbody td {
    color: #444;
    border-bottom: 1px solid #eaeaea;
    padding: 0;
}

.ts-table tbody tr:last-child td {
    //border-bottom: none;
}

tbody tr:hover {
    background-color: #f0f2f5;
    cursor: default;
}
*/


/*
tbody tr:last-child td {
    border: none;
}

tbody td {
    border-bottom: 1px solid #d8d8d8;
}

*/