.tc-table {
    width: 100%;
    border-collapse: collapse;
}

.tc-table thead tr {
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    background: #f1f2f4;
    color: #273a61;
    height: 50px;
}

.tc-table thead th {
    border: 1px solid #1f305d;
    white-space: nowrap;
    /*border: 1px solid #959a9e;*/
    //padding: 10px 5px;
}

.tc-table thead th:first-child {
    background: white;
    border: none;
}

.tc-table tbody tr {
    text-align: right;
    background: white;
    color: #666;
}


/*.tc-table tbody tr:nth-child(odd) {
    border-bottom: 1px solid #e3e8eb;
}*/

.tc-table tbody td {
    height: 576px;
    background: white;
    border: 1px solid #1f305d;
    /*border: 1px solid #959a9e;*/
    padding: 0;
}

.tc-table tbody td:first-child {
    border: none;
}

div.slotstack {
    display: flex;
    flex-direction: column;
    height: 100%;
}

div.hourmark {
    flex-grow: 2;
    font-size: 14px;
    vertical-align: top;
    color: #3b5ca0;
    padding-right: 5px;
}

div.slot,
div.slot-selected {
    position: relative;
    flex-grow: 1;
    border-bottom: 1px solid #e3e8eb;
    cursor: cell;
}

div.slot:nth-child(even) {
    border-bottom: 1px solid #8496b4;
}


/*div.slot:nth-child(odd) {
    background: rgba(128, 128, 128, 0.04);
}*/

div.slot:hover {
    background: rgba(128, 128, 128, 0.2);
    //outline: 1px solid blue;
}


/*.tc-table tbody tr:nth-child(odd) {
    border: 1px solid black; //#c2c6c7;
}*/

div.slot-selected {
    background: #3b5ca0; //#678fd4; //#30c99a;
    color: white;
    border-bottom: 1px solid #3b5ca0;
    /* border-left: 1px solid white;
    border-right: 1px solid white; */
    cursor: cell;
    /*outline: 1px solid #3b5ca0;*/
}

div.slot-selected:hover {
    background: #678fd4;
}

div.slot:last-child,
div.slot-selected:last-child {
    border-bottom: none;
}

div.slot.locked {
    background: rgba(128, 128, 128, 0.1);
    cursor: default;
    /*pointer-events: none;*/
}

div.slot.locked:hover {
    background: rgba(128, 128, 128, 0.1);
}

div.slot-selected.locked {
    background: #526faa;
    border-bottom: 1px solid #526faa;
    cursor: default;
    /*pointer-events: none;*/
}

div.slot-selected.locked:hover {
    background: #526faa;
}

div.blocklabel {
    z-index: 4;
    position: absolute;
    text-align: center;
    font-size: 14px;
    color: white;
    width: 100%;
    padding: 2px 0;
    pointer-events: none;
}