/*
palette:
    #333
    #666
    #d8d8d8
    #efefef

    #959a9e
    #c2c6c7
    #d8d9db
    #e3e8eb
    #f1f2f4
    #fcfdff

*/

body {
    background: white; // #f0f2f5; //#ebeef3;
    color: #333;
    border: 0;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 14px;
    vertical-align: baseline;
    min-width: 900px;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.unselectable {
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer */
    -khtml-user-select: none;
    /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none;
    /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none;
    /* Disable Android and iOS callouts*/
}

button {
    //transition: all 100ms ease-out;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    font-size: 14px;
    background: #fcfdff;
    color: #666;
    border: 2px solid #c2c6c7;
    border-radius: 2px;
    min-width: 35px;
    min-height: 25px;
    padding: 2px 12px;
    cursor: pointer;
}

button:focus {
    outline: 0;
}

button:disabled {
    background: #f1f2f4;
    color: #d8d9db;
    cursor: inherit;
}

button:enabled:hover {
    transition: all 100ms ease-out;
    background: white;
    color: #666;
    border: 2px solid #959a9e;
}

button:enabled:active {
    background: #f1f2f4;
    color: black;
    border: 2px solid #959a9e;
}

.button-large {
    font-size: 16px;
    background: #1bd199;
    border: 2px solid #1bd199;
    border-radius: 4px;
    color: white;
    padding: 2px 20px;
}

.button-large:enabled:hover {
    color: #1bd199;
    border: 2px solid #1bd199;
}

.button-large:enabled:active {
    background: #e1fff6;
}

select {
    border: 2px solid #838ba2;
    border-radius: 0;
    width: 150px;
    height: 25px;
    cursor: pointer;
}

select:focus {
    border: 2px solid #4562af;
    outline: 0;
}

input[type=text] {
    background: white;
    border: 2px solid #838ba2;
    border-radius: 0;
    width: 120px;
    height: 22px;
    margin: 0;
    padding: 1px 4px;
}

input[type=text]:focus {
    border: 2px solid #4562af;
    outline: 0;
}

input[type=checkbox] {
    width: 14px;
    height: 14px;
    margin: 0;
    cursor: pointer;
}

.row-container {
    width: 100%;
}

.row-content {
    display: flex;
    align-items: center;
    //height: 48px;
    margin: 0 80px;
    padding: 20px 0;
}

.header-container {
    background: #273a61;
    //border-bottom: 4px solid #1f2f50;
    color: white;
    width: 100%;
}

.header-content {
    display: flex;
    align-items: center;
    height: 50px;
    margin: 0 80px;
}

.subheader-container {
    background: #1f2f50;
    color: white;
    width: 100%;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
}

.subheader-content {
    display: flex;
    align-items: center;
    font-size: 18px;
    height: 50px;
    margin: 0 80px;
}

.nav-link {
    display: inline-flex;
    align-items: center;
    font-size: 18px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    background: #273a61;
    color: #779ad8;
    height: 100%;
    padding: 0 40px;
}

.nav-link:hover {
    background: #2b4170;
    color: white;
    //border-bottom: 2px solid #779ad8;
    //padding-top: 2px;
}

.content-container {
    width: 100%;
    min-height: 400px;
}

.content-content {
    display: flex;
    align-items: center;
    margin: 0 80px;
}

.logo {
    display: inline-flex;
    align-items: center;
    height: 100%;
    margin-right: 40px;
}

.arrow-nav-prev {
    background-image: url(/static/img/nav_left.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    //width: 40px;
    height: 32px;
    margin-right: -2px;
}

.arrow-nav-prev:enabled:hover {
    background-image: url(/static/img/nav_left_hover.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px;
    z-index: 2;
}

.arrow-nav-next {
    background-image: url(/static/img/nav_right.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    //width: 40px;
    height: 32px;
    margin-left: -2px;
}

.arrow-nav-next:enabled:hover {
    background-image: url(/static/img/nav_right_hover.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px;
    z-index: 2;
}

.arrow-nav-today {
    font-weight: 700;
    color: #c2c6c7;
    border-radius: 0;
    height: 32px;
    width: 90px;
}

.arrow-nav-today:enabled:hover {
    color: #959a9e;
    z-index: 2;
}

.footer {
    text-align: center;
    color: #d8d9db;
    border-top: 1px solid #e3e8eb;
    width: 100%;
    font-size: 12px;
    margin-top: 10px;
    padding: 5px 0;
}