/*
palette:
    #1f2f50
    #273a61
    #3b5ca0
    #678fd4
    #779ad8

    #333
    #666
    #d8d8d8
    #efefef

    #959a9e
    #c2c6c7
    #d8d9db
    #e3e8eb
    #f1f2f4
    #fcfdff

    #e1fff6;
    #30c99a;

*/


/** {
  box-sizing: border-box;
}*/

body {
    background: white; // #f0f2f5; //#ebeef3;
    color: #333;
    border: 0;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 14px;
    vertical-align: baseline;
    min-width: 980px;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

.unselectable {
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer */
    -khtml-user-select: none;
    /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none;
    /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none;
    /* Disable Android and iOS callouts*/
}

select {
    border: 2px solid #c2c6c7;
    border-radius: 2px;
    width: 150px;
    height: 25px;
    cursor: pointer;
}

select:hover {
    border: 2px solid #959a9e;
}

select:focus {
    border: 2px solid #779ad8;
    outline: 0;
}

input[type=text] {
    background: white;
    border: 1px solid #959a9e;
    border-radius: 2px;
    width: 120px;
    height: 20px;
    margin: 0;
    padding: 1px 4px;
}

input[type=text]:focus {
    border: 1px solid #779ad8;
    outline: 0;
}

input[type=checkbox] {
    width: 14px;
    height: 14px;
    margin: 2px;
    cursor: pointer;
}

input[type=checkbox]:focus {}

button {
    /*transition: all 100ms ease-out;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;*/
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    background: #fcfdff;
    color: #666;
    border: 2px solid #c2c6c7;
    border-radius: 2px;
    min-width: 35px;
    min-height: 25px;
    padding: 2px 12px;
    cursor: pointer;
}

button:focus {
    outline: 0;
}

button:disabled {
    background: #f1f2f4;
    color: #d8d9db;
    cursor: inherit;
}

button:enabled:hover {
    transition: background 100ms ease-out;
    transition: color 100ms ease-out;
    transition: width 50ms ease-out;
    background: white;
    color: #666;
    border: 2px solid #959a9e;
}

button:enabled:active {
    background: #f1f2f4;
    color: black;
    border: 2px solid #959a9e;
}

.button-solid {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    font-size: 16px;
    background: #959a9e;
    border: 2px solid #959a9e;
    border-radius: 4px;
    color: white;
    padding: 2px 20px;
}

.button-solid:enabled:hover {
    color: #959a9e;
    border: 2px solid #959a9e;
}

.button-solid:enabled:active {
    background: #f1f2f4;
    color: #959a9e;
    border-color: #959a9e;
}

.button-solid-green {
    background-color: #30c99a;
    color: white;
    //color: #333;
    border-color: #30c99a;
}

.button-solid-green:enabled:hover {
    background-color: white;
    color: #30c99a;
    border-color: #30c99a;
}

.button-solid-green:enabled:active {
    background-color: #e1fff6;
    color: #30c99a;
    border-color: #30c99a;
}

.button-icon {
    min-width: 32px;
    min-height: 32px;
    padding: 0;
}

.button-outline {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    font-size: 16px;
    background: none;
    color: #c2c6c7;
    border-radius: 4px;
    padding: 2px 20px;
}

.button-outline:enabled:hover {
    color: #959a9e;
    border: 2px solid #959a9e;
}

.button-outline:enabled:active {}

.row-container {
    width: 100%;
}

.row-content {
    display: flex;
    align-items: center;
    //height: 48px;
    margin: 0 80px;
    padding: 20px 0;
}

.header-container {
    background: #273a61;
    //border-bottom: 4px solid #1f2f50;
    color: white;
    width: 100%;
    //box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
}

.header-content {
    display: flex;
    align-items: center;
    height: 50px;
    margin: 0 80px;
}

.subheader-container {
    background: #1f2f50;
    color: white;
    width: 100%;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
}

.subheader-content {
    display: flex;
    align-items: center;
    font-size: 18px;
    height: 50px;
    margin: 0 80px;
}

.nav-link {
    display: inline-flex;
    align-items: center;
    font-size: 18px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    background: #273a61;
    color: #779ad8;
    height: 100%;
    padding: 0 40px;
}

.nav-link:hover {
    background: #2b4170;
    color: white;
}

.nav-link-selected {
    display: inline-flex;
    align-items: center;
    font-size: 18px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    background: #779ad8;
    color: #273a61;
    height: 100%;
    padding: 0 40px;
}

.infobanner-container {
    transition: max-height 200ms ease-out;
    width: 100%;
    max-height: 400px;
}

.infobanner-container-hidden {
    transition: max-height 200ms ease-out;
    overflow: hidden;
    width: 100%;
    max-height: 0;
}

.infobanner-content {
    display: flex;
    align-items: center;
    background: #e3edff;
    color: #333;
    border-top: 1px solid #779ad8;
    border-bottom: 1px solid #779ad8;
    margin: 0 80px;
    margin-bottom: 10px;
    padding: 5px 10px;
}

.action-container {
    transition: max-height 200ms ease-out;
    width: 100%;
    max-height: 400px;
}

.action-container-hidden {
    transition: max-height 200ms ease-out;
    overflow: hidden;
    width: 100%;
    max-height: 0;
}

.action-content {
    display: flex;
    align-items: center;
    background: #f8f9fb;
    color: #333;
    border-top: 1px solid #30c99a;
    border-bottom: 1px solid #30c99a;
    margin: 0 80px;
    margin-bottom: 20px;
    padding: 5px 10px;
}

.content-container {
    width: 100%;
    min-height: 400px;
}

.content-content {
    display: flex;
    align-items: center;
    margin: 0 80px;
}

.arrow-nav-prev {
    background-image: url(/static/img/nav_left.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    //width: 40px;
    height: 32px;
    margin-right: -2px;
}

.arrow-nav-prev:enabled:hover {
    background-image: url(/static/img/nav_left_hover.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px;
    z-index: 2;
}

.arrow-nav-next {
    background-image: url(/static/img/nav_right.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    //width: 40px;
    height: 32px;
    margin-left: -2px;
}

.arrow-nav-next:enabled:hover {
    background-image: url(/static/img/nav_right_hover.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px;
    z-index: 2;
}

.arrow-nav-today {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #c2c6c7;
    border-radius: 0;
    height: 32px;
    width: 90px;
}

.arrow-nav-today:enabled:hover {
    color: #959a9e;
    z-index: 2;
}

.logo {
    display: inline-flex;
    align-items: center;
    height: 100%;
    margin-right: 40px;
}

.logo > img {
    height: 24px;
}

.title {
    font-size: 16px;
}

.title-bold {
    font-size: 16px;
    font-weight: 700;
}

.anchor-icon {
    display: flex;
    align-items: center;
    color: #779ad8;
}

.anchor-icon > img {
    width: 18px;
    height: 12px;
    margin-right: 5px;
}

.footer {
    text-align: center;
    color: #d8d9db;
    border-top: 1px solid #e3e8eb;
    width: 100%;
    font-size: 12px;
    margin-top: 40px;
    padding: 5px 0;
}