table.tc-table {
    border-width: 0;
}

table.tc-table tbody td, table.tc-table thead th {
    border-color: #ccc;
}

table.tc-table tbody td {
    padding: 0;
    height: 576px;
}

table.tc-table thead th {
    white-space: nowrap;
    font-size: 0.85rem;
}

table.tc-table thead th:first-child {
    border-width: 0;
}

table.tc-table tbody td:first-child {
    text-align: right;
    border-width: 0;
}

div.slot-stack {
    display: flex;
    flex-direction: column;
    height: 100%;
}

div.hour-mark {
    flex-grow: 2;
    font-size: 0.85rem;
    vertical-align: top;
    /*color: #3b5ca0;*/
    padding-right: 5px;
}

div.slot,
div.slot-selected {
    position: relative;
    flex-grow: 1;
    border-bottom: 1px solid #eceeef;
    cursor: cell;
}

div.slot:nth-child(even) {
    border-bottom: 1px solid #ccc;
}


/*div.slot:nth-child(odd) {
    background: rgba(128, 128, 128, 0.04);
}*/

div.slot:hover {
    background: #eaeaea;
    //outline: 1px solid blue;
}


/*.tc-table tbody tr:nth-child(odd) {
    border: 1px solid black; //#c2c6c7;
}*/

div.slot-selected {
    background: #3b5ca0;
    border-bottom: 1px solid #3b5ca0;
    color: white;
    cursor: cell;
}

div.slot-selected:hover {
    background: #678fd4;
    border-bottom: 1px solid #678fd4;
}

div.slot:last-child,
div.slot-selected:last-child {
    border-bottom: none;
}

div.slot.locked {
    background: rgba(128, 128, 128, 0.1);
    cursor: default;
    pointer-events: none;
}

div.slot-selected.locked {
    background: #4364a8;
    border-bottom-color: #4364a8;
    cursor: default;
    pointer-events: none;
}

div.blocklabel {
    z-index: 4;
    position: absolute;
    text-align: center;
    font-size: 0.85rem;
    color: white;
    width: 100%;
    padding: 0.1rem 0;
    pointer-events: none;
}