table.tc-table {
    table-layout: fixed;
    border-width: 0;
}

table.tc-table tbody td,
table.tc-table thead th {
    border-color: #ccc;
}

table.tc-table tbody td {
    padding: 0;
    height: 576px;
}

table.tc-table thead th {
    white-space: nowrap;
    font-size: 0.85rem;
}

table.tc-table thead th:first-child {
    width: 40px;
    padding: 0;
    border-width: 0;
}

table.tc-table tbody td:first-child {
    width: 40px;
    text-align: right;
    border-width: 0;
}

div.slot-stack {
    display: flex;
    flex-direction: column;
    height: 100%;
}

div.slot:nth-child(even) {
    border-bottom: 1px solid #ccc;
}

div.hour-mark {
    flex-grow: 2;
    font-size: 0.85rem;
    vertical-align: top;
    /*color: #3b5ca0;*/
    padding-right: 5px;
}

div.slot {
    position: relative;
    flex-grow: 1;
    background: #fff;
    border-bottom: 1px solid #eceeef;
    cursor: cell;
}

div.slot:hover {
    background: #eaeaea;
}

div.slot:last-child {
    border-bottom: none;
}

div.slot.selected {
    background: #5481dd;
    border-bottom-color: #5481dd;
}

div.slot.selected:hover {
    background: #3c6bcb;
    border-bottom-color: #3c6bcb;
}

div.slot.selecting {
    background-color: #c7daff;
    border-bottom-color: #c7daff;
}

div.slot.unselecting {
    background-color: #f2f2f2;
}

div.slot.selected.selecting {
    background: #3c6bcb;
    border-bottom-color: #3c6bcb;
}

div.slot.selected.unselecting {
    background: #3157aa;
    border-bottom-color: #3157aa;
}

div.slot.locked {
    background: #eaeaea;
    pointer-events: none;
}

div.segment-label {
    z-index: 4;
    position: absolute;
    text-align: center;
    font-size: 0.85rem;
    color: white;
    width: 100%;
    padding: 0.1rem 0;
    pointer-events: none;
}


/*div.slot,
div.slot-selected {
    position: relative;
    flex-grow: 1;
    border-bottom: 1px solid #eceeef;
    cursor: cell;
}

div.slot:nth-child(even) {
    border-bottom: 1px solid #ccc;
}

div.slot:hover {
    background: #eaeaea;
    //outline: 1px solid blue;
}

div.slot-selected {
    background: #3b5ca0;
    border-bottom: 1px solid #3b5ca0;
    color: white;
    cursor: cell;
}

div.slot-selected:hover {
    background: #678fd4;
    border-bottom: 1px solid #678fd4;
}

div.slot:last-child,
div.slot-selected:last-child {
    border-bottom: none;
}

div.slot.locked {
    background: rgba(128, 128, 128, 0.1);
    cursor: default;
    pointer-events: none;
}

div.slot-selected.locked {
    background: #4364a8;
    border-bottom-color: #4364a8;
    cursor: default;
    pointer-events: none;
}

div.blocklabel {
    z-index: 4;
    position: absolute;
    text-align: center;
    font-size: 0.85rem;
    color: white;
    width: 100%;
    padding: 0.1rem 0;
    pointer-events: none;
}*/