Flask==0.12
https://github.com/cameronbwhite/Flask-CAS/archive/v1.0.1.zip
Flask-SQLAlchemy==2.1
Jinja2==2.9.5
MarkupSafe==0.23
SQLAlchemy==1.1.5
Werkzeug==0.11.15
argparse==1.2.1
click==6.7
itsdangerous==0.24
wsgiref==0.1.2
xmltodict==0.10.2
