@media (max-width: 462px)
{
	nav ul {
	    text-align: center;
	    -webkit-margin-before: 0;
	    -webkit-margin-after: 0;
	    -webkit-margin-start: 0;
	    -webkit-margin-end: 0;
	    -webkit-padding-start: 0;
	}
	nav ul li {
	}
	nav ul li+li {
	    border-left: 1px solid #666666;
	}
	a:hover {
	    transition: color 150ms ease-out 0s;
	    color: rgb(44, 174, 195);
	}
	a {
	    transition: color 150ms ease-out 0s;
	    color: rgb(35, 137, 153);
	}
	nav#bar {
	    background: #1b1f20;
	    z-index: 1;
	}
	nav#bar a.nav-link {
	    color: rgb(255, 255, 255);
	    text-decoration: none;
	    text-align: center;
	    font-family: 'Montserrat', sans-serif;
	    font-size: 16px;
	}
	nav#bar a.red.selected {
	  color: #d13332;
	  border-color: #d13332 !important; } nav#bar a.red:hover {
	  color: #d13332;
	  text-shadow: 0px 0px 5px #d13332; } nav#bar a.orange.selected {
	  color: #ea5932;
	  border-color: #ea5932 !important; } nav#bar a.orange:hover {
	  color: #ea5932;
	  text-shadow: 0px 0px 5px #ea5932; } nav#bar a.yellow.selected {
	  color: #fff9ae;
	  border-color: #fff9ae !important; } nav#bar a.yellow:hover {
	  color: #fff9ae;
	  text-shadow: 0px 0px 5px #fff9ae; } nav#bar a.green.selected {
	  color: #18b159;
	  border-color: #18b159 !important; } nav#bar a.green:hover {
	  color: #18b159;
	  text-shadow: 0px 0px 5px #18b159; } nav#bar a.blue.selected {
	  color: #00aeef;
	  border-color: #00aeef !important; } nav#bar a.blue:hover {
	  color: #00aeef;
	  text-shadow: 0px 0px 5px #00aeef; } nav#bar a.grey.selected {
	  color: #aaa;
	  border-color: #aaa !important; } nav#bar a.grey:hover {
	  color: #aaa;
	  text-shadow: 0px 0px 5px #aaa; } nav#bar a.nav-link.selected {
	  line-height: 42px;
	  border-top: 3px solid #0b0d0d;
	  background-color: #0b0d0d;
	  height: 45px;
	}
}
@media (min-width: 463px) and (max-width: 649px) 
{
	nav ul {
	    text-align: center;
	    -webkit-margin-before: 0;
	    -webkit-margin-after: 0;
	    -webkit-margin-start: 0;
	    -webkit-margin-end: 0;
	    -webkit-padding-start: 0;
	}
	nav ul li {
	    display: inline-block;
	}
	nav ul li+li {
	    border-left: 1px solid #666666;
	}
	a:hover {
	    transition: color 150ms ease-out 0s;
	    color: rgb(44, 174, 195);
	}
	a {
	    transition: color 150ms ease-out 0s;
	    color: rgb(35, 137, 153);
	}
	nav#bar {
	    width: 100%;
	    background: #1b1f20;
	    z-index: 1;
	}
	nav#bar a.nav-link {
	    color: rgb(255, 255, 255);
	    text-decoration: none;
	    text-align: center;
	    font-family: 'Montserrat', sans-serif;
	    float: left;
	}
	nav#bar a.red.selected {
	  color: #d13332;
	  border-color: #d13332 !important; } nav#bar a.red:hover {
	  color: #d13332;
	  text-shadow: 0px 0px 5px #d13332; } nav#bar a.orange.selected {
	  color: #ea5932;
	  border-color: #ea5932 !important; } nav#bar a.orange:hover {
	  color: #ea5932;
	  text-shadow: 0px 0px 5px #ea5932; } nav#bar a.yellow.selected {
	  color: #fff9ae;
	  border-color: #fff9ae !important; } nav#bar a.yellow:hover {
	  color: #fff9ae;
	  text-shadow: 0px 0px 5px #fff9ae; } nav#bar a.green.selected {
	  color: #18b159;
	  border-color: #18b159 !important; } nav#bar a.green:hover {
	  color: #18b159;
	  text-shadow: 0px 0px 5px #18b159; } nav#bar a.blue.selected {
	  color: #00aeef;
	  border-color: #00aeef !important; } nav#bar a.blue:hover {
	  color: #00aeef;
	  text-shadow: 0px 0px 5px #00aeef; } nav#bar a.grey.selected {
	  color: #aaa;
	  border-color: #aaa !important; } nav#bar a.grey:hover {
	  color: #aaa;
	  text-shadow: 0px 0px 5px #aaa; } nav#bar a.nav-link.selected {
	  line-height: 42px;
	  border-top: 3px solid #0b0d0d;
	  background-color: #0b0d0d;
	  height: 45px;
	}
}
@media (min-width: 650px) and (max-width: 874px) 
{
	nav ul {
	    text-align: center;
	    -webkit-margin-before: 0;
	    -webkit-margin-after: 0;
	    -webkit-margin-start: 0;
	    -webkit-margin-end: 0;
	    -webkit-padding-start: 0;
	}
	nav ul li {
	    display: inline-block;
	}
	nav ul li+li {
	    border-left: 1px solid #666666;
	}
	a:hover {
	    transition: color 150ms ease-out 0s;
	    color: rgb(44, 174, 195);
	}
	a {
	    transition: color 150ms ease-out 0s;
	    color: rgb(35, 137, 153);
	}
	nav#bar {
	    width: 100%;
	    height: 48px;
	    background: #1b1f20;
	    z-index: 1;
	}
	nav#bar a.nav-link {
	    color: rgb(255, 255, 255);
	    text-decoration: none;
	    text-align: center;
	    font-family: 'Montserrat', sans-serif;
	    line-height: 48px;
	    min-width: 87px;
	    font-size: 16px;
	    float: left;
	}
	nav#bar a.red.selected {
	  color: #d13332;
	  border-color: #d13332 !important; } nav#bar a.red:hover {
	  color: #d13332;
	  text-shadow: 0px 0px 5px #d13332; } nav#bar a.orange.selected {
	  color: #ea5932;
	  border-color: #ea5932 !important; } nav#bar a.orange:hover {
	  color: #ea5932;
	  text-shadow: 0px 0px 5px #ea5932; } nav#bar a.yellow.selected {
	  color: #fff9ae;
	  border-color: #fff9ae !important; } nav#bar a.yellow:hover {
	  color: #fff9ae;
	  text-shadow: 0px 0px 5px #fff9ae; } nav#bar a.green.selected {
	  color: #18b159;
	  border-color: #18b159 !important; } nav#bar a.green:hover {
	  color: #18b159;
	  text-shadow: 0px 0px 5px #18b159; } nav#bar a.blue.selected {
	  color: #00aeef;
	  border-color: #00aeef !important; } nav#bar a.blue:hover {
	  color: #00aeef;
	  text-shadow: 0px 0px 5px #00aeef; } nav#bar a.grey.selected {
	  color: #aaa;
	  border-color: #aaa !important; } nav#bar a.grey:hover {
	  color: #aaa;
	  text-shadow: 0px 0px 5px #aaa; } nav#bar a.nav-link.selected {
	  line-height: 42px;
	  border-top: 3px solid #0b0d0d;
	  background-color: #0b0d0d;
	  height: 45px;
	}
}
@media (min-width: 875px)
{
	nav ul {
	    text-align: center;
	    -webkit-margin-before: 0;
	    -webkit-margin-after: 0;
	    -webkit-margin-start: 0;
	    -webkit-margin-end: 0;
	    -webkit-padding-start: 0;
	}
	nav ul li {
	    display: inline-block;
	}
	nav ul li+li {
	    border-left: 1px solid #666666;
	}
	a:hover {
	    transition: color 150ms ease-out 0s;
	    color: rgb(44, 174, 195);
	}
	a {
	    transition: color 150ms ease-out 0s;
	    color: rgb(35, 137, 153);
	}
	nav#bar {
	    width: 100%;
	    height: 48px;
	    background: #1b1f20;
	    z-index: 1;
	}
	nav#bar a.nav-link {
	    color: rgb(255, 255, 255);
	    text-decoration: none;
	    text-align: center;
	    font-family: 'Montserrat', sans-serif;
	    line-height: 48px;
	    min-width: 120px;
	    font-size: 16px;
	    float: left;
	}
	nav#bar a.red.selected {
	  color: #d13332;
	  border-color: #d13332 !important; } nav#bar a.red:hover {
	  color: #d13332;
	  text-shadow: 0px 0px 5px #d13332; } nav#bar a.orange.selected {
	  color: #ea5932;
	  border-color: #ea5932 !important; } nav#bar a.orange:hover {
	  color: #ea5932;
	  text-shadow: 0px 0px 5px #ea5932; } nav#bar a.yellow.selected {
	  color: #fff9ae;
	  border-color: #fff9ae !important; } nav#bar a.yellow:hover {
	  color: #fff9ae;
	  text-shadow: 0px 0px 5px #fff9ae; } nav#bar a.green.selected {
	  color: #18b159;
	  border-color: #18b159 !important; } nav#bar a.green:hover {
	  color: #18b159;
	  text-shadow: 0px 0px 5px #18b159; } nav#bar a.blue.selected {
	  color: #00aeef;
	  border-color: #00aeef !important; } nav#bar a.blue:hover {
	  color: #00aeef;
	  text-shadow: 0px 0px 5px #00aeef; } nav#bar a.grey.selected {
	  color: #aaa;
	  border-color: #aaa !important; } nav#bar a.grey:hover {
	  color: #aaa;
	  text-shadow: 0px 0px 5px #aaa; } nav#bar a.nav-link.selected {
	  line-height: 42px;
	  border-top: 3px solid #0b0d0d;
	  background-color: #0b0d0d;
	  height: 45px;
	}
}