<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Timecard Admin - {{ session['CAS_USERNAME'] }}</title>
    <link rel="icon" type="image/ico" href="http://www.rpi.edu/favicon.ico">
    <link rel="stylesheet" href="../static/stylesheets/timecard.base.css">
    <link rel="stylesheet" href="../static/stylesheets/timecard.admin.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <script src="../static/js/moment.min.js"></script>
</head>

<body>
    {% include 'leetbar.html' %}

    <div class="header-container">
        <div class="header-content">
            <a class="logo" href="{{ url_for('show_tc_admin') }}">
                <img src="static/img/logo.svg" height="30px">
            </a>
            <a class="tc-link" style="color: white; margin-left: auto" href="{{ url_for('show_tc_admin') }}">Logout {{ session['CAS_USERNAME'] }}</a>
        </div>
    </div>

    <div class="tools-container">
        <div class="tools-content">
            tools</div>
    </div>

    <div id="nav-container">
        <div class="nav-content">
            <button id="tc-nav-today" onclick="TcAdmin.currentWeek();">Today</button>
            <button id="tc-nav-prev" onclick="TcAdmin.prevWeek();"></button>
            <button id="tc-nav-next" onclick="TcAdmin.nextWeek();"></button>
            <span id="tc-nav-range" style="margin-left: 20px">Jan 1 – 7, 2000</span>
        </div>
    </div>

    <div class="content-container">
        <hr class="nav-shadow" />
        <div class="content-content">
            <table border="1" style="width: 100%">
                <thead style="background: #eaeaea">
                    <tr>
                        <th>Name</th>
                        <th>User ID</th>
                        <th>Last Modified</th>
                        {% for i in range(14) %}
                        <th>Jan 31</th>
                        {% endfor %}
                        <th>Total Hours</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in range(30) %}
                    <tr>
                        <!-- Name should link to 'view-as' page for user -->
                        <td><a class="tc-link" href="{{ url_for('show_tc_user') }}" target="_blank">Lastname, Firstname</a></td>
                        <td>lastnf1</td>
                        <td>1/31/17</td>
                        {% for i in range(14) %}
                        <td>0.0</td>
                        {% endfor %}
                        <td>00.0</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script src="../static/js/admin.js"></script>
    <script>
        // TODO: Better way to pass server data on load?
        TcAdmin.slotIncrement = "{{ slot_increment }}" / 60;
        TcAdmin.initialDate = moment("{{ initial_date }}");
        //TcAdmin.lockdate = 
        TcAdmin.init();
    </script>

    {% include 'footer.html' %}
</body>

</html>