<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Timecard Admin - {{ session['CAS_USERNAME'].lower() }}</title>
    <link href="http://www.rpi.edu/favicon.ico" type="image/ico" rel="icon">
    <link href="/static/stylesheets/timecard.base.css" rel="stylesheet">
    <link href="/static/stylesheets/timecard.admin.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:600" rel="stylesheet">
    <script src="/static/js/moment.min.js"></script>
</head>

<body>
    {# include 'leetbar.html' #}

    <div class="header-container">
        <div class="header-content">
            <a class="logo" href="{{ url_for('show_admin') }}">
                <img src="/static/img/logo_admin.svg">
            </a>
            <div class="nav-link-selected">
                <a href="{{ url_for('show_admin') }}">Users</a>
            </div>
            <div class="nav-link">
                <a href="{{ url_for('show_admin') }}">Settings</a>
            </div>
            <div id="db-status" style="color: #9a9a9a; margin-left: auto; margin-right: 20px">...</div>
            <a style="color: white" href="{{ url_for('cas.logout') }}">Log out {{ session['CAS_USERNAME'].lower() }}</a>
        </div>
    </div>

    <div class="subheader-container">
        <div class="subheader-content">
            Admin \ Users
        </div>
    </div>

    <div class="row-container">
        <div class="row-content" style="border-bottom: 1px solid #e3e8eb">
            <div class="title-bold" id="period-range" style="color: #666">Jan 1 – 7, 2000</div>
            <button class="arrow-nav-prev" style="margin-left: auto" onclick="TcAdmin.prevPeriod();"></button>
            <button id="period-nav-today" class="arrow-nav-today" onclick="TcAdmin.currentPeriod();">Today</button>
            <button class="arrow-nav-next" onclick="TcAdmin.nextPeriod();"></button>
        </div>
    </div>

    <div class="row-container">
        <div class="row-content">
            <div class="title" style="color: #959a9e" id="table-status">0 Users</div>
            <a id="user-viewas-button" class="anchor-icon" style="margin-left: 20px" target="_blank"><img src="/static/img/edit.svg">View As</a>
            <a id="user-edit-button" class="anchor-icon" style="margin-left: 20px" onclick="TcAdmin.userEditShow(this.dataset.userid)"><img src="/static/img/edit.svg">Edit</a>
            <a id="user-delete-button" class="anchor-icon" style="margin-left: 20px" onclick="TcAdmin.userDeleteSelected()"><img src="/static/img/edit.svg">Delete...</a>
            <button id="user-add-button" class="button-solid" style="margin-left: auto">+ Add User</button>
        </div>
    </div>

    <div id="user-add-container" class="action-container">
        <div class="action-content">
            <div class="title-bold" style="color: #30c99a">Add User</div>
            <div id="user-add-status" style="color: #666; margin-left: 20px"></div>
            <div style="display: flex; align-items: center; margin-left: auto">
                <div>First Name:</div>
                <input id="user-add-input-firstname" style="width: 140px; margin-left: 10px" type="text" maxlength="64" oninput="">
                <div style="margin-left: 30px">Last Name:</div>
                <input id="user-add-input-lastname" style="width: 140px; margin-left: 10px" type="text" maxlength="64" oninput="">
                <div style="margin-left: 30px">User ID:</div>
                <input id="user-add-input-id" style="width: 60px; margin-left: 10px" type="text" maxlength="12" oninput="">
                <button class="button-solid button-solid-green" style="margin-left: 50px" onclick="TcAdmin.userAddSubmit()">Submit</button>
            </div>
        </div>
    </div>

    <div id="infobanner-container" class="infobanner-container">
        <div class="infobanner-content">
            <div style="margin-right: 140px">ICON?</div>
            <div id="infobanner-text" class="title" style="margin: 0 auto">...</div>
            <button class="button-large-icon button-blue" style="margin-left: auto" onclick="TcAdmin.infoBannerHide()">&#10006;</button>
        </div>
    </div>

    <div class="content-container">
        <div class="content-content">
            <table class="ts-table" id="ts-table">
                <thead id="ts-head">
                    <tr>
                        <th>
                            <input type="checkbox" id="ts-head-checkbox" onchange="TcAdmin.tableSelectAll(this)">
                        </th>
                        <th>Name &or;</th>
                        <th style="width: 70px">User ID</th>
                        <th>Last Modified</th>
                        {% for i in range(period_duration) %}
                        <th id="ts-day-{{i}}" style="text-align: center; width: 70px" data-date="">Jan 1</th>
                        {% endfor %}
                        <th style="text-align: center; width: 120px">Total Hours</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <script src="/static/js/admin.js"></script>
    <script>
        // TODO: Better way to pass server data on load?
        // TODO: Provide these values from server
        TcAdmin.initialDate = moment("{{ initial_date }}");
        TcAdmin.lockdate = 1483228800;
        TcAdmin.slotIncrement = "{{ slot_increment }}" / 60;
        TcAdmin.periodDuration = "{{ period_duration }}";
        TcAdmin.validPeriodStart = moment("{{ valid_period_start }}");

        TcAdmin.init();
    </script>

    {% include 'footer.html' %}
</body>

</html>