<div id="tc-day-{{ d }}" class="tc-day" data-date="" onmouseleave="TcUser.slotMouseUp();" onmouseup="TcUser.slotMouseUp();">
    <div style="font-weight: bold; margin-bottom: 5px">Monday, Jan 1</div>
    <div style="font-weight: bold">Hours: 0.0</div>
    <table class="tc-hour-table">
        {% for t in range(times|length) %}
        <tr>
            <td class="tc-slot" data-weekday="{{ d }}" data-timedelta="{{ t*slot_increment*60 }}" data-timestamp="" onmouseover="TcUser.slotMouseOver(this);" onmousedown="TcUser.slotMouseDown(this);">
                {{ times[t].strftime('%I:%M %p') }}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>