<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>timecard</title>
    <link rel="icon" type="image/ico" href="http://www.rpi.edu/favicon.ico">
    <link rel="stylesheet" href="../static/stylesheets/main.css">
    <!--<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <!-- Leet navbar -->
    <link rel="stylesheet" href="../static/stylesheets/custom.css">
    <nav id="bar">
        <ul>
            <li><a class="nav-link red" href="/quicklogs" target="_blank">Quicklogs</a></li>
            <li><a class="nav-link red" href="/forum" target="_blank">Forum</a></li>
            <li><a class="nav-link red" href="http://leet.arc.rpi.edu:8000" target="_blank">Print Queue</a></li>
            <li><a class="nav-link red" href="/printers" target="_blank">Printer Picker</a></li>
            <li><a class="nav-link red" href="http://afsws.rpi.edu/AFS/dept/acs/consult/Schedule.html" target="_blank">Schedule</a></li>
            <li><a class="nav-link red" href="https://apex.cct.rpi.edu/apex/f?p=187:SEARCH:34401092285::NO:::" target="_blank">Pickup</a></li>
            <li><a class="nav-link red" href="http://hd-time.arc.rpi.edu/timecard.php?group=Helpdesk" target="_blank">Time Card</a></li>
        </ul>
    </nav>
    <!-- End Leet navbar -->
    <script src="../static/js/moment.js"></script>
    <script src="../static/js/main.js"></script>
</head>

<body onload="onload();">

    <div id="header-container">
        <div id="header">
            <a id="logo" href="{{ url_for('show_timecard') }}">
                <img src="static/img/logo.svg" height="30px">
            </a>
            <a id="login" href="{{ url_for('show_timecard') }}">Logout {{ session["CAS_USERNAME"] }}</a>
        </div>
    </div>

    <div id="templates-container">
        <div id="templates">
            <div style="display: inline-block;">Template:</div>
            <div id="templ-select-container">
                <select id="templ-select" onchange="templSelectChanged(this);">
                    <option value="" selected>None</option>
                </select>
                <button class="tc-button" id="templ-new" onclick="showTemplEdit();">New Template</button>
            </div>
            <div id="templ-edit-container" style="display: none;">
                <input id="templ-textinput" type="text" minlength="2" maxlength="18" oninput="templInputName(this);">
                <button class="tc-button" id="templ-save" onclick="templSaveOption();">Save</button>
                <button class="tc-button" id="templ-delete" onclick="templDeleteOption()">Delete</button>
                <button class="tc-button" id="templ-cancel" onclick="hideTemplEdit();">Cancel</button>
            </div>
            <span id="db-status">Last modified: …</span>
            <!-- save button for testing purposes -->
            <button class="tc-button" id="database-save" onclick="saveToDatabase();">Save</button>
        </div>
    </div>

    <div id="tc-nav-container">
        <div id="tc-nav">
            <button class="tc-button" id="tc-nav-today" onclick="currentWeek();">Today</button>
            <button class="tc-button" id="tc-nav-prev" onclick="prevWeek();"></button>
            <button class="tc-button" id="tc-nav-next" onclick="nextWeek();"></button>
            <span id="tc-nav-range">Jan 1 – 7, 2000</span>
            <span id="tc-nav-total">Total Hours: 0.0</span>
        </div>
    </div>

    <div class="unselectable" style="width: 100%; margin: 0; display: block;" ondragstart="return false;" ondrop="return false;">
        <hr style=" height: 5px; border: 0; box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, 0.5); margin: 0; margin-bottom: 5px;" />
        <div style="width: 100%; margin: 0;">
            <table class="tc-day-table">
                <tr>
                    {% for d in days %} {% include 'day.html' %} {% endfor %}
                </tr>
            </table>
        </div>
    </div>

    <script>
        // maybe just separate or use main.js here?
        slotIncrement = {{ slot_increment }} / 60;
        slotFirstStart = moment("{{ slot_first_start }}", "HHmm");

        templSelectContainer = document.getElementById("templ-select-container");
        templEditContainer = document.getElementById("templ-edit-container");
        templSelect = document.getElementById("templ-select");
        templNew = document.getElementById("templ-new");
        templTextInput = document.getElementById("templ-textinput");
        templSave = document.getElementById("templ-save");
        templDelete = document.getElementById("templ-delete");

        dbStatus = document.getElementById("db-status");
        dbSave = document.getElementById("database-save");
        //dbSave.disabled = true;

        tcNavToday = document.getElementById("tc-nav-today");
        tcNavRange = document.getElementById("tc-nav-range");
        tcNavTotal = document.getElementById("tc-nav-total");

        // find and cache each day just created
        for (var i = 0; i < 7; i++) {
            weekdays.push(document.getElementById("tc-day-" + i));
        }

        currentWeek();
    </script>

    <div id="footer">
        <div>A VCC Helpdesk Project | <a href="https://github.com/justinbot/timecard" target="_blank" title="Source">Source</a></div>
    </div>
</body>

</html>