<link rel="stylesheet" href="/static/stylesheets/leetbar.css">
<nav style="background: #111">
    <ul id="leet-bar">
        <li class="leet-item"><a class="leet-link" href="/quicklogs" target="_blank">Quicklogs</a></li>
        <li class="leet-item"><a class="leet-link" href="/forum" target="_blank">Forum</a></li>
        <li class="leet-item"><a class="leet-link" href="http://leet.arc.rpi.edu:8000" target="_blank">Print Queue</a></li>
        <li class="leet-item"><a class="leet-link" href="/printers" target="_blank">Printer Picker</a></li>
        <li class="leet-item"><a class="leet-link" href="http://afsws.rpi.edu/AFS/dept/acs/consult/Schedule.html" target="_blank">Schedule</a></li>
        <li class="leet-item"><a class="leet-link" href="https://apex.cct.rpi.edu/apex/f?p=187:SEARCH:34401092285::NO:::" target="_blank">Pickup</a></li>
        <li class="leet-item"><a class="leet-link" href="http://hd-time.arc.rpi.edu/timecard.php?group=Helpdesk" target="_blank">Timecard</a></li>
    </ul>
</nav>