<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Timecard - View As {{ session['CAS_USERNAME'].lower() }}</title>
    <link href="http://www.rpi.edu/favicon.ico" type="image/ico" rel="icon">
    <link href="/static/stylesheets/timecard.base.css" rel="stylesheet">
    <link href="/static/stylesheets/timecard.user.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <script src="/static/js/moment.min.js"></script>
</head>

<body>
    {% include 'leetbar.html' %}

    <div class="header-container">
        <div class="header-content">
            <a class="logo" href="{{ url_for('show_user') }}">
                <img src="/static/img/logo.svg" height="30px">
            </a>
            <!--<a class="tc-link" style="color: white; margin-left: auto">Viewing as {{ user_id.lower() }}</a>-->
        </div>
    </div>

    <div class="tools-container">
        <div class="tools-content">
            <div style="color: #9a9a9a">Viewing as {{ user_id.lower() }}</div>
            <div id="db-status" style="color: #9a9a9a; margin-left: auto">Last modified: …</div>
        </div>
    </div>

    <div class="nav-container">
        <div class="nav-content">
            <button id="tc-nav-today" onclick="TcView.currentWeek();">Today</button>
            <button id="tc-nav-prev" onclick="TcView.prevWeek();"></button>
            <button id="tc-nav-next" onclick="TcView.nextWeek();"></button>
            <div id="tc-nav-range" style="margin-left: 20px">Jan 1 – 7, 2000</div>
            <div id="tc-nav-total" style="margin-left: auto; font-weight: bold">Total Hours: 0.0</div>
        </div>
    </div>

    <div class="content-container unselectable" ondragstart="return false;" ondrop="return false;">
        <hr class="nav-shadow" />
        <div class="content-content">
            <div style="margin: 0 -20px 0 -20px">
                <div class="tc-day-table">
                    {% for d in days %}
                    <div id="tc-day-{{ d }}" class="tc-day" data-date="">
                        <div style="font-weight: bold; margin-bottom: 5px">Monday, Jan 1</div>
                        <div style="font-weight: bold">Hours: 0.0</div>
                        <table class="tc-hour-table">
                            {% for t in range(times|length) %}
                            <tr>
                                <td class="tc-slot" data-weekday="{{ d }}" data-timedelta="{{ t*slot_increment*60 }}" data-timestamp="">
                                    {{ times[t].strftime('%I:%M %p') }}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script src="/static/js/viewas.js"></script>
    <script>
        TcView.initialDate = moment("{{ initial_date }}");
        TcView.lockdate = 1483228800;
        TcView.slotIncrement = "{{ slot_increment }}" / 60;
        TcView.slotFirstStart = moment("{{ slot_first_start }}", "HHmm");
        TcView.payPeriod = "{{ pay_period }}";
        TcView.payDay = 5;
        
        TcView.userID = "{{ user_id }}";

        TcView.init();
    </script>

    {% include 'footer.html' %}
</body>

</html>