<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Timecard - View As {{ user_name }}</title>
    <link href="http://www.rpi.edu/favicon.ico" type="image/ico" rel="icon">
    <link href="/static/stylesheets/timecard.base.css" rel="stylesheet">
    <link href="/static/stylesheets/timecard.user.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700|Titillium+Web:600" rel="stylesheet">
    <script src="/static/js/moment.min.js"></script>
</head>

<body>
    <!--{% include 'leetbar.html' %}-->

    <div class="header-container">
        <div class="header-content">
            <a class="logo" href="{{ url_for('show_user') }}">
                <img src="/static/img/logo.svg">
            </a>
            <div id="dbStatus" style="color: #9a9a9a; margin-left: auto; margin-right: 20px">...</div>
            <a style="color: white">Viewing as {{ user_name }}</a>
        </div>
    </div>

    <div class="row-container">
        <div class="row-content">
            <div id="periodRange" class="title" style="color: #666">Jan 1 – 7, 2000</div>
            <button class="arrow-nav-prev" style="margin-left: auto" onclick="TcUser.prevPeriod();"></button>
            <button id="periodNavToday" class="arrow-nav-today" onclick="TcUser.currentPeriod();">Today</button>
            <button class="arrow-nav-next" onclick="TcUser.nextPeriod();"></button>
        </div>
    </div>

    <div class="content-container unselectable" ondragstart="return false" ondrop="return false">
        <div class="content-content" style="position: relative">
            <table id="tcTable" class="tc-table">
                <thead id="tcHead">
                    <tr>
                        <th style="width: 10px"></th>
                        {% for i in range(view_days) %}
                        <th id="tcHeader{{i}}" style="width: 120px">
                            <div>Monday</div>
                            <div>Jan 1</div>
                            <div>0.0 hours</div>
                        </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <script src="/static/js/viewas.js"></script>
    <script>
        TcUser.initialDate = moment("{{ initial_date }}");
        TcUser.validPeriodStart = moment("{{ valid_period_start }}");
        TcUser.periodDuration = "{{ view_days }}";
        TcUser.slotIncrement = "{{ slot_increment }}";
        TcUser.slotFirstStart = moment("{{ slot_first_start }}", "HH:mm");
        TcUser.slotLastStart = moment("{{ slot_last_start }}", "HH:mm");
        TcUser.lockDate = "{{ lock_date }}";
        TcUser.userId = "{{ user_id }}"

        TcUser.init();
    </script>

    {% include 'footer.html' %}
</body>

</html>